<h1>Departments</h1>

<% @departments.each do |d| %>
  <div id="dept-<%=d.id %>">
    <h3><%= d.name %></h3>
    <h5><%= d.floor %></h5>
    <% d.employees.each do |e| %>
      <p> <%= e.name %> </p>
    <% end %>
  </div>
<% end %>